@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import './variables';

/* 
----------------
Template Name: Hackaton Project Website
Author: Shokhrukh
Author Email: shokhrukh024@gmail.com
Version: 1.0.0
----------------
----------------
Table of Content
----------------
1. Primary_Styles_section
2. MainLayout_section
3. Navbar_section
4. Home_section
5. Login_section
*/



/* ----- Primary_Styles_section Start ----- */
* {
   margin: 0;
   padding: 0;
   // font-family: 'Acme', sans-serif;
   // font-family: 'Lobster', cursive;
   font-family: 'Heebo', sans-serif;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }

 html, body, #app {
   width: 100%;
   min-height: 100vh;
 }
 

/* ----- Primary_Styles_section End ----- */




/* ----- MainLayout_section Start ----- */
.main_layout{

}


/* ----- MainLayout_section End ----- */







/* ----- Navbar_section Start ----- */
.navbar{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100px;
   background-color: #FFFFFF;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


   &__inside{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 100px;
      background-color: #FFFFFF;
      padding: 0 20px; 
      
      

      .title{
         font-family: 'Gwendolyn', cursive;
         // font-family: 'Acme', sans-serif;
         // font-family: 'Oleo Script', cursive;
         // font-family: 'Lobster', cursive;
         font-size: 50px;
         cursor: pointer;
      }


      // .search-bar img{
      //    width: 120%;
      // }


      .account img{
         width: 200%;
      }
   }

   
}


/* ----- Navbar_section End ----- */






/* ----- Home_section Start ----- */
.home{
   display: flex;
   align-items: flex-start;
   width: 100%;
   height: auto;
   padding: 20px;

   .filters{

   }

   .cards{
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      padding: 0 20px;
      .card{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 24%;
         min-height: 250px;
         height: auto;
         background-color: #FFFFFF;
         box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
         border-radius: 3%;
         padding: 10px;
         margin: 9px;
         cursor: pointer;
   
         .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
   
            .left{
               display: flex;
               justify-content: space-between;
               align-items: center;
               img{
                  width: 50px;
                  margin-right: 5px;
               }
      
               .location{
                  display: flex;
                  flex-direction: column;
      
               }
            }
   
            .right{
               img{
                  width: 30px;
               }
            }
         }
   
         .middle{
            margin-bottom: 10px;
            .tags_list{
               display: flex;
               justify-content: start;
               align-items: center;
               width: 100%;
               min-height: 50px;
               height: auto;
               padding: 0 15px;
               
   
               .tag{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: auto;
                  height: 30px;
                  font-size: 14px;
                  padding: 5px 10px;
                  background-color: lightgrey;
                  border-radius: 10px;
                  margin: 0 5px;
               }
            }
   
            .followers{
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 0 20px;
            }
         }
   
         .bottom{
            box-sizing: border-box;
            .slider_image{
               // width: 100%;
               // height: 100%;
               width: 150px !important;
               height: 150px !important;
               object-fit: cover !important;
            }
         }
      }
   }

}


/* ----- Home_section End ----- */


/* ----- Login_section Start ----- */
.login_page{
   width: 100%;
   height: 100vh;
}
/* ----- Login_section End ----- */
