<template>
    <div class="home">
        <div class="filters">
            <div class="sidebar">
                <div class="widget user_widget_search">
                    <h2>Фильтры</h2>
                    <form id="user_wiget_search_form" class="user_wiget_search_form" @submit.prevent="filterItems()">
                        
                        <div class="form-group">
                            <label for="user_sort" style="margin: 10px 5px 0 0;">Категории</label>
                            <select class="form-control custom-select" id="user_sort" v-model="sortId">
                                <option v-for="(item3, index3) in categories" :key="index3" :value="item3.id">{{item3.name}}</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 20px;" >
                            <button type="submit" class="btn btn-block btn-primary">Фильтровать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="cards" >
            <div class="card" v-for="(item, index) in getProfilesList" :key="index" @click="GoToPage(item.url)">
                <div class="top">
                    <div class="left">
                        <!-- <img :src="require('@/assets/icons/user-square.svg')" alt="profile-circle"> -->
                        <img :src="baseURL + item.profile_picture" class="slider_image">
                        <div class="location">
                            <span>@{{item.username}}</span>
                            <!-- <div>
                                <i class="fas fa-map-marker-alt"></i>
                                Dilnavo 4-pr, 60 uy
                            </div> -->
                        </div>
                    </div>

                    <div class="right">
                        <img :src="require('@/assets/icons/add-square.svg')" alt="profile-circle">
                    </div>
                </div>
                <div class="middle">
                    <div class="tags_list">
                        <span class="tag">{{item.tag}}</span>
                    </div>
                    <div class="followers">
                        <div>
                            <span class="text-bold mr-1">{{formatPrice(item.followers)}}</span>
                            <span class="">Подписчики</span>
                        </div>

                        <!-- <div>
                            <span class="text-bold mr-1">4%</span>
                            <span>Engagement</span>
                        </div> -->
                    </div>
                </div>
                
                <div class="bottom" style="width:100%;margin:20px auto;">
                    <slider ref="slider" :options="options" @slide='slide' @tap='onTap' @init='onInit'>
                        <slideritem v-for="(item2, index2) in items[index].posts" :key="index2" :style="style">
                            <img :src="baseURL + item2" class="slider_image">
                        </slideritem>

                        <div slot="loading">loading...</div>
                    </slider>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import { slider, slideritem } from 'vue-concise-slider'
import { baseURL } from '../variables'

export default {
    components: { VueSlickCarousel, slider, slideritem },
    data(){
        return{
            options: {
                currentPage: 0,
                tracking: false,
                thresholdDistance: 100,
                thresholdTime: 300,
                infinite: 4,
                slidesToScroll: 4,
                loop: true
            },

            items: [],
            categories: [],
            baseURL: '',

            style: {
                'width': '50%',
                'margin-right': '2%'
            },
            sortId: '',
        }
    },
    async mounted(){
        await this.refresh()
        this.baseURL = baseURL
    },
    computed:{
        ...mapGetters(['getProfilesList', 'getCategoriesList'])
    },
    methods:{
        ...mapActions([
            'GET_PROFILES_LIST', 'GET_CATEGORIES_LIST'
        ]),
        formatPrice(value) {
            if(value){
                let currency = value.toString().replace(/,/g, '');
                currency = parseFloat(currency)
                currency = new Intl.NumberFormat('en-US', {minimumFractionDigits: 0, maximumFractionDigits: 2}).format(currency);

                return currency;
            }
            return 0;
        },
        async refresh(){
            await this.GET_PROFILES_LIST(this.sortId)
            this.items = this.getProfilesList

            await this.GET_CATEGORIES_LIST()
            this.categories = this.getCategoriesList
        },


        async GoToPage(url){
            window.location.href = url;
        },


        async filterItems(){
            await this.GET_PROFILES_LIST(this.sortId)
            this.items = this.getProfilesList
        }

        
    }
}
</script>

<style lang="scss">
.slider-item {
  transform:scale(0.8);
  transition-timing-function: ease;
  transition-duration: 300ms;
}
.slider-item.slider-active {
  transform:scale(1.0);
  z-index: 999;
}
.slider-item.slider-active-copy {
  transform:scale(1.0);
  z-index: 999;
}












.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget {
    margin: 9px;
  padding: .75rem 1.25rem;
  width: 278px;
  color: rgba(0,0,0,0.87);
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  h2 {
    background-color: darken(white, 4%);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: -.75rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: .75rem 1.25rem;
    text-align: center;
    cursor: default;
  }
  form {
    label {
      width: 100%;
      text-align: center;
    }
  }
  &:hover {
    h2 {
      background-color: darken(white, 8%);
    }
  }
}

#user_age_handler_min, #user_age_handler_max {
    width: 3em;
    margin-left: -1.5em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.btn{
    cursor: pointer;
    padding: 10px 30px;
    background: #2ab7ca;
    border: none;
    border-radius: 20px;
    color: white;
}
</style>
