<template>
    <div>
        <div class="navbar">
            <div class="navbar__inside">
                <div class="title">
                    BrandGram
                </div>
                <div class="search-bar">
                        <div class="search">
                            <div>
                                <input type="text" placeholder="Search . . ." required>
                            </div>
                        </div>
                    <!-- <img :src="require('@/assets/icons/search-normal.svg')" alt="search"> -->
                </div>
                <div class="account">
                    <img :src="require('@/assets/icons/profile-circle.svg')" alt="profile-circle">
                </div>
            </div>
        </div>
        <router-view />
    </div>
</template>

<script>
export default {

}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: black;
  width: 4px;
  height: 15px;
  position: absolute;
  top: 28px;
  right: 0px;
  transform: rotate(138deg);
}

.search > div > input {
  color: black;
  font-size: 16px;
  background: transparent;
  width: 35px;
  height: 35px;
  padding: 10px;
  border: solid 3px black;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}
</style>